<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".View.panels.MistakeContainer"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.AppCompat"
            android:windowSoftInputMode="adjustPan"> </activity>
        <activity
            android:name=".View.panels.GrammarPanelActivity"
            android:exported="false"
            android:label="@string/title_activity_grammar_panel"
            android:theme="@style/Theme.MyApplication.AppCompat"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".View.authorization.Register"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".View.authorization.Login"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.AppCompat"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.authorization.ChangePassword"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".View.panels.AdminPanel"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>